.item {
  background-color: orange;
}

#flexbox {
  border: 5px solid red;
  display: flex;
  gap: 16px;
}

#grid {
  height: 100vh;
  border: 5px solid blue;
  display: grid;
  /* grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 200px 1fr 1fr 60px;
  gap: 8px 32px; */

  grid-template-areas:
    "header header"
    "article aside"
    "footer footer";
}

header {
  background-color: red;
  grid-area: header;
}

article {
  background-color: orange;
  grid-area: article;
}

aside {
  background-color: blue;
  color: white;
  grid-area: aside;
}

footer {
  background-color: green;
  grid-area: footer;
}
