#gdprBanner {
  background-color: rgb(205, 205, 205);
  padding: 16px 24px;
  border-radius: 8px;
  position: fixed;
  bottom: 16px;
  left: 16px;
  right: 16px;
}

#gdprBanner h1 {
  margin-top: 0;
  margin-bottom: 8px;
  font-size: 16px;
}

#gdprBanner p {
  width: 45ch;
}

#gdprBanner button {
  padding: 8px 16px;
  font-weight: bold;
  border: none;
  border-radius: 4px;
}

#gdprButtons {
  position: absolute;
  top: 16px;
  right: 16px;
}
